<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogToConsole="true"
      internalLogToConsoleError="false">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--  ${aspnet-application} - ASP.NET Application variable.
          ${aspnet-item} - ASP.NET HttpContext item variable.
          ${aspnet-request} - ASP.NET Request variable.
          ${aspnet-session} - ASP.NET Session variable.
          ${aspnet-sessionid} - ASP.NET Session ID.
          ${aspnet-user-authtype} - ASP.NET User variable.
          ${aspnet-user-identity} - ASP.NET User variable.
          ${iis-site-name} - IIS site name.
    -->
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${basedir}\logs\shell-lang-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${aspnet-user-identity}|${message} ${exception}" />

    <target xsi:type="File" name="shellFile" fileName="${basedir}\logs\shell-lang-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${aspnet-user-identity}|${message} ${exception}" />
  </targets>

  <rules>
    <!--
      1. Trace, 2. Debug, 3. Info, 4. Warn, 5. Error, 6. Fatal
    -->    
    
    <logger name="Shell.*" minlevel="Trace" writeTo="shellFile" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="allFile" final="true" />
    
  </rules>
</nlog>